.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.post{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    border: 1px solid rgb(221, 221, 221);
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 10px;
    
}

.titulo{
    font-family: sans-serif;
    font-size: 2em;
    margin-top: 3%;
}

.capa{
    width: 45%;
    height: 50%;
    padding: 5px;
}

.subtitulo{
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
}

.botao{
    border: 1px solid rgb(202, 202, 202);
    padding: 3px;
    font-size: 1.1em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
    color: black;
    width: 20vw;
    transition: all 0.5s;
}

.botao:hover{
    background-color: #4c89e3;
    color: white;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4c89e3;
    width: 100vw;
    height: 10vh;
    color: white;
    font-family: sans-serif;
}
header h1{
    cursor:pointer;
}